---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav";
import Hero from "../components/Hero";
import ContextMarquee from "../components/ContextMarquee";
import TerminalDemo from "../components/TerminalDemo";
import InstallCmd from "../components/InstallCmd";
import Pricing from "../components/Pricing";
import Footer from "../components/Footer";
---

<Layout>
  <Nav client:load />
  <main id="main-content">
    <div data-reveal><Hero client:load /></div>
    <ContextMarquee client:load />
    <div data-reveal><TerminalDemo client:load /></div>
    <div data-reveal><InstallCmd client:load /></div>
    <div data-reveal><Pricing client:load /></div>
  </main>
  <Footer client:load />
</Layout>
