---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav";
import Hero from "../components/Hero";
import ContextMarquee from "../components/ContextMarquee";
import TerminalDemo from "../components/TerminalDemo";
import InstallCmd from "../components/InstallCmd";
import Footer from "../components/Footer";
---

<Layout>
  <Nav client:load />
  <main id="main-content">
    <Hero client:idle />
    <ContextMarquee />
    <div data-reveal><TerminalDemo client:visible /></div>
    <div data-reveal><InstallCmd client:visible /></div>
  </main>
  <Footer />
</Layout>
