---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav";
import Hero from "../components/Hero";
import ContextMarquee from "../components/ContextMarquee";
import TerminalDemo from "../components/TerminalDemo";
import InstallCmd from "../components/InstallCmd";
import Footer from "../components/Footer";
---

<Layout>
  <Nav client:load />
  <div data-reveal><Hero client:load /></div>
  <ContextMarquee client:load />
  <div data-reveal><TerminalDemo client:load /></div>
  <div data-reveal><InstallCmd client:load /></div>
  <Footer client:load />
</Layout>
